# .gitignore files
*.mat
*.set
*.fdt
*.log
**.DS_Store
*.asv
*.png
*.jpg
*.tiff

# .gitignore folders
**/TEST
**/submodules
**/_data
**/__archive
**/_test
**/Job*
**/install
**/installer
**/_compiles
**/venv
.Rproj.user
