img[alt=matlab] { width: 200px; }
img[alt=eeglab] { width: 200px; }
img[alt=fieldtrip] { width: 200px; }
img[alt=groupsift] { width: 200px; }
img[alt=sift] { width: 200px; }
img[alt=spm12] { width: 200px; }
